body {
	padding-left: 11em;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: purple;
	background-color: #d8da3d
}

/* klasy oznaczone slowkiem class  .cos */
.divWrapper {
	height: 1000 px;
	
}