<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:annotation-config />

	<bean name="hibernateUtil" class="pdm.Utils.HibernateUtil" scope="session" />
	<bean name="taxElementDAO" class="pdm.dao.TaxElementDAO" scope="session" />
	<bean name="searchResultDAO" class="pdm.dao.SearchResultDAO"
		scope="session">
		<property name="fileDAO" ref="fileDAO" />
	</bean>
	<bean name="fileDAO" class="pdm.dao.FileDAO" scope="session" />


	<bean name="treeBean" class="pdm.tree.TreeBean" scope="session">
		<property name="taxElementDAO" ref="taxElementDAO" />
		<property name="searchResultDAO" ref="searchResultDAO" />
		<property name="fileDAO" ref="fileDAO" />
		

	</bean>

	<bean name="fileUploadBean" class="pdm.Utils.FileUploadBean"
		scope="session">
		<property name="fileDAO" ref="fileDAO" />
		<property name="treeBean" ref="treeBean" />
	</bean>

</beans>

