html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color:#555555;
}

#container {
	width:70%;
	padding:5px 5px 5px 5px;
	margin:0 auto 0 auto;	
	background-color:#555555;
}

#header {
	/*padding: 10px;*/
}

#body {
	/*padding: 10px;*/
	/*padding-bottom: 60px; /* Height of the footer */
}

#footer {
	bottom: 0;
	height: 60px; /* Height of the footer */
}

#treeDiv {
	/*height: 618px;*/	
	overflow:auto;
	width: 150px;
}

#resultsDiv {
	height: 480px;
	overflow: auto;
	min-width: 100%;
}

.yesNoPanel {
        height:150px;
        overflow:auto;
    }