html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
	min-height: 100%;
	
	position: relative;
}

#header {
	padding: 10px;
}

#body {
	padding: 10px;
	padding-bottom: 60px; /* Height of the footer */
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Height of the footer */
}

#treeDiv {
	min-height: 500px;
	background-color: green;
	width: 200px;
}

#resultsDiv {
	min-height: 500px;
	background-color: blue;
	min-width: 100%;
}

#section-navigation {
	background-color: gray;
	float: left;
	width: 160px;
	padding: 20px 0;
	margin: 0 20px;
	display: inline;
}
#content
{
	float: left;
	width: 500px;
	padding: 20px 0;
	margin: 0 0 0 30px;
}
#aside
{
	float: right;
	width: 200px;
	padding: 20px 0;
	margin: 0 20px 0 0;
	display: inline;
}
